<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">
  <h1 class="text-center" style="margin-top:0;">
    Digitalwerk Log Notifier
    <br/>
    <f:image src="EXT:dw_log_notifier/Resources/Public/Icons/Extension.svg" width="30" height="30" style="vertical-align: middle; margin-right: 15px;"/>
  </h1>

  <div class="container">
    <div class="panel {f:if(condition: '{enable} == 1', then: 'panel-success', else: 'panel-danger')}" style="box-shadow: none;">
      <div class="panel-body">
        <f:if condition="{enable} == 1">
          <f:then>
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Status:
            <strong class="text-success pull-right">
              Enabled
            </strong>
          </f:then>
          <f:else>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Status:
            <strong class="text-danger pull-right">
              Disabled
            </strong>
          </f:else>
        </f:if>
        <f:if condition="!{emails} && !{slack.webHookUrl} && !{slack.username} && !{slack.channel} && {enable}">
          <div class="row">
            <div class="col-md-12">
              <strong class="text-danger pull-right" style="margin-top: 5px">
                Email or slack info should not be empty.
              </strong>
            </div>
          </div>
        </f:if>
      </div>
    </div>
    <f:if condition="{enable}">
      <f:render section="Panel"
                arguments="{name:'Omit exceptions:',propertyValue:omitExceptions}"/>
      <f:render section="Panel"
                arguments="{name:'Email addresses:',propertyValue:emails}"/>
      <div class="panel panel-info" style="box-shadow: none;">
        <div class="panel-body">
          <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
          Slack info:
            <div class="row text-center">
              <div class="col-md-12">
                <strong class="text-{f:if(condition: slack.webHookUrl, then: 'info', else: 'danger')}">
                  Slack WebHookUrl : {slack.webHookUrl}
                </strong>
              </div>
              <div class="col-md-12">
                <strong class="text-{f:if(condition: slack.channel, then: 'info', else: 'danger')}">
                  Slack Channel : {slack.channel}
                </strong>
              </div>
              <div class="col-md-12">
                <strong class="text-{f:if(condition: slack.username, then: 'info', else: 'danger')}">
                  Slack Username : {slack.username}
                </strong>
              </div>
            </div>
          </div>
        </div>
      <f:render section="Panel"
                arguments="{name:'Disabled Typo3 Context:',propertyValue:disabledContext}"/>
    </f:if>
  </div>

</f:section>

<f:section name="Panel">
  <div class="panel panel-info" style="box-shadow: none;">
    <div class="panel-body">
      <span class="glyphicon glyphicon-scale" aria-hidden="true"></span>
      {name}
      <f:if condition="{propertyValue}">
        <f:variable name="propertyArray" value="{v:iterator.explode(content: propertyValue, glue: ',')}"/>
        <f:for each="{propertyArray}" as="propertyArrayItem" iteration="iterator">
          <div class="row text-center" style="margin: 5px">
            <div class="col-md-12">
              <strong class="text-info">
                {propertyArrayItem}
              </strong>
            </div>
          </div>
        </f:for>
      </f:if>
    </div>
  </div>
</f:section>

</html>
